
header.custom-header {
    background-color: #F5F5F5;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.custom-header .header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-header .header_inner .header__heading-link {
    padding-left: 0;
}

.custom-header .header_inner .header_btn {
    text-decoration: none;  
    text-align: center;
    text-transform: uppercase;
    display: inline-flex;
}

.custom-header .header_inner .header_btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #ffc001, #ffc001);
    transition: left 0.4s ease;
    z-index: -1;
}

.custom-header .header_inner .header_btn:hover:before { 
    left: 0;
}

/* .custom-header .header_inner .header_btn:hover {
    color: #fff;
}

.custom-header .header_inner .header_btn:hover svg path{
    fill: #fff;
} */

.custom-header .header_inner .header_text {
    margin: 0;
    color:#000
}

.custom-header .header_brand_logo img{
    vertical-align: middle;
}

.custom-header .header_button .arrow {
    margin-left: 2rem;
}

.custom-header .menu_icon_mobile {
    display: none;    
}

@media (max-width:749px){ 
    .custom-header .header_content,
    .custom-header .header_button{
       display: none;
    }

    .custom-header .menu_icon_mobile {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .custom-header .header_inner{ 
        justify-content: center;
    }

    .custom-header .menu_icon_mobile button{ 
        background:none;
        border:none;
        padding:0;
        outline: none;
    }
}