.hero-banner-test .hero-banner-inner{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;   
}

.hero-banner-test img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block
}

.hero-banner-test .hero-banner-mobile {
    display: none;
}

.hero-banner-test .hero-banner-content .hero-banner-btn {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
}

.hero-banner-test .hero-banner-title {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 7rem;
    font-weight: 500;
}
.hero-banner-test .hero-banner-subtitle {
    margin-bottom: 45px;
    font-size: 20px;
    line-height: 140%;
    color: #000;
    letter-spacing: 0;
    margin-bottom: 40px;
}

.hero-banner-test .hero-banner-content {
    max-width: 48rem;       
    position:absolute;
    bottom:6rem
}

.hero-banner-test .hero-banner-content span.arrow {
    margin-left: 20px;
}

.hero-banner-test .hero-banner-content .hero-banner-btn svg path{
    fill: #fff;
}

.hero-banner-test .content_mobile_block {
    text-align: center;
    display: none;
}

.hero-banner-test .content_mobile_block .hero-banner-title--mobile{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.hero-banner-test .content_mobile_block .hero-banner-subtitle--mobile{
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0;
    color: #000;
}

.hero-banner-footer-block {
    padding:10px 20px;
    background-color: #F5F5F5;
    text-align: center;
}

.hero-banner-footer-block .hero-banner-footer-text{
    font-size: 16px;
    line-height: 14px;   
    letter-spacing: 0;
    margin: 0;
    color:#000
}

.hero-banner-footer-block .hero-banner-footer-text--mb{ 
    display: none;
}

@media (max-width:1280px) {
    .hero-banner-test .hero-banner-content {
        bottom: 2rem;
    }
}

@media (max-width:1024px) {
    .hero-banner-test .hero-banner-title {
        font-size: 4rem;
        margin-bottom: 2rem;
    }
    .hero-banner-test .hero-banner-subtitle {
        font-size: 18px;
        margin-bottom: 2rem;
    }

    .hero-banner-test .hero-banner-content {
        bottom: 3rem;
        max-width: 35rem;
    }
}

@media (max-width: 749px) {
    .hero-banner-test .content_mobile_block { 
        display: block;
        max-width: 340px;
    }


    .hero-banner-footer-block { 
        padding: 10px 20px;
    }

    .hero-banner-test .hero-banner-desktop {
        display: none;
    }
    .hero-banner-test .hero-banner-mobile {
        display: block;
    }

    .hero-banner-footer-block .hero-banner-footer-text,
    .hero-banner-test .hero-banner-subtitle,
    .hero-banner-test .hero-banner-title {
        display: none;
    }

    .hero-banner-test .hero-banner-content{ 
        max-width: 100%;
        width: 100%;
        text-align: center;
        left: 0;
    }

    .hero-banner-test .hero-banner-content {
        bottom: 4.8rem;
    }

    .hero-banner-test .hero-banner-content .hero-banner-btn {
        min-width: 190px;
    }

    .hero-banner-footer-block .hero-banner-footer-text--mb{ 
        font-size:14px;
        margin: 0;
        letter-spacing: 0;
        line-height: 14px;
        display: block
    }
}